[2014-03-04 11:07] FuriousDuck opened #8 "Проблема совместимости с pytes-xdist"
Замечательный незаменимый плагин, который параллелит тесты, отказывается работать вместе с --alluredir [path_to_dir]. Эксепшн валится после завершения первого теста
[code]

[2014-03-04 11:53] FuriousDuck opened #9 "Создание кастомных тегов"
Думается, можно привязаться к существующему декоратору py.test'а `@pytest.mark.mark_name` для расширения выводимой в репорте информации

[2014-03-17 12:52] mavlyutov opened #10 "на последний зафейленный тест не генерится xml"
при запуске py.test -x
на последний зафейленный тест не генерится xml

[2014-04-15 12:04] #10 closed, assigned to nobody

[2014-04-23 14:34] eroshenkoam opened #16 "Сейчас TestSuite = файл, нужно, чтобы TestSuite = Class"

[2014-04-23 14:36] eroshenkoam opened #17 "Задеплоить адаптер в pypi"

[2014-04-23 16:02] #16 closed, assigned to nobody

[2014-04-28 15:45] F1ashhimself opened #20 "Tests can't be run."
I have found that you have some special configuration on your jenkins slave because almost all tests fall on travis https://travis-ci.org/F1ashhimself/allure-python/builds/23922236

Could you please investigate this issue for further pull request #18 processing.

[2014-04-28 16:15] #20 closed, assigned to nobody

[2014-04-30 11:42] baev opened #21 "Поправить генерацию имен в адапторе"
В модели есть name, а есть title.
Name - генерируется адаптером в формате `{name.space}.{testName}[{params}]`
- `{name.space}` - какой-то неймспейс, например, в джаве это package+className, без пробельных символов
- `{test-name}` - имя теста, может быть в camelCase, small-case, не содержит точек
- `{params}` - некоторая строка, не содержащая терминальных символов

Name не может задаваться пользова

[2014-04-30 14:17] #17 closed, assigned to eroshenkoam

[2014-06-02 19:34] vania-pooh opened #23 "Refactor adapter in order to move common logic to separate Python API"
See [this section](https://github.com/allure-framework/allure-core/wiki/Creating-Allure-Adapter#two-layer-approach) for details.

[2014-06-10 12:22] #21 closed, assigned to mavlyutov

[2014-06-19 13:26] schipiga opened #26 "allure assert decorator"
Неплохо было бы иметь, что-то подобное:

[code]

=>
allure message "Checking that expected is equal result"

[2014-07-17 21:10] rusg77 opened #29 "Python 3 support"
Hi!
It's not an issue :)
I added Python 3 support to python3 branch in my personal repo. Code in python3 branch is incompatible with Python 2.x.
Would you like to add Python 3 branch to source repo for pull request?

[2014-07-22 13:04] F1ashhimself opened #30 "pytest 2.6.0 breaks test_smoke/test_attaches_with_capture_exist"
`test_attaches_with_capture_exist` test in `test_smoke.py` have two failes.

Env:
pytest: 2.6.0

[2014-07-24 14:51] #30 closed, assigned to nobody

[2014-08-11 11:21] true3HAK opened #32 "Jenkins matrix-job collector fails"
In Jenkins matrix-job on reports collection step I've got this:

Allure Report Generation: started
Allure Report Generation: copy matrix builds results in directory [/jenkins/workspace/awaps-functional-test-matrix/allure93416645115399836.tmp/results]
FATAL: java.io.IOException: Failed to extract /jenkins/compound-root/workspace/awaps-functional-test-matrix/LABEL/awaps-basic-openstack/TESTPACK/P1/r

[2014-08-12 10:52] CoHuK opened #33 "Сортировка по времени запуска теста в списке тестов"
Очень была бы полезной функция сортировки списка тестов (блок xUnit) в порядке их запуска.
Таким образом было бы проще находить тесты, оказывающие влияние на другие.

[2014-08-12 10:53] #33 closed, assigned to nobody

[2014-08-12 10:55] #32 closed, assigned to nobody

[2014-09-25 12:49] alvassin opened #34 "Dumperror: can't serialize <class 'allure.utils.LabelsList'>, errors in pytest"
i can even exclude anything regarding allure from my test (just have allure allure-adapter https://pypi.python.org/pypi/pytest-allure-adaptor installed).

[code]

py.test -n [anything there] test_it.py will give following error:

[code]

[2014-09-26 11:34] alvassin opened #35 "Is it possible to get --alluredir param value inside test?"
Is it possible to get --alluredir param value inside test?

[2014-09-26 11:51] #35 closed, assigned to nobody

[2014-10-01 11:43] #23 closed, assigned to nobody

[2014-10-01 11:44] #9 closed, assigned to nobody

[2014-10-01 11:47] #26 closed, assigned to nobody

[2014-10-09 14:43] tarvitz opened #38 "lack of issue method (@allure.issue decorator)"
There's no issue method like the other: step, attach, label, feature etc

[2014-10-10 12:30] tarvitz opened #39 "stories duplication on different features"
I have base mixin class for testing unique id inside the document

[code]

I apply this mixin agains base TestCases classes:

[code]

[code]

![1](https://cloud.githubusercontent.com/assets/824379/4592169/1706ca00-5078-11e4-8bb0-951ccab29e67.png)
![2](https://cloud.githubusercontent.com/assets/824379/4592170/19d48cfe-5078-11e4-9d18-b0df87c15648.png)
![3](https://cloud.githubusercontent.com/assets/

[2014-10-16 21:55] #38 closed, assigned to nobody

[2014-10-17 09:00] tarvitz opened #41 "Use allure with doctests would cause failure"
Working bug demo:
https://github.com/tarvitz/python-allure-demo#issue-41

Short story:
pytest works with doctests fine and proper but when I want to make a allure report from these tests i get this

[code]

[2014-10-22 16:43] aohontsev opened #42 "Cannot set Features and Stories in unicode"
@pytest.allure.feature('заказ')
@pytest.allure.story('Создание заказа')

[code]

and another case
@pytest.allure.feature(u'заказ')
@pytest.allure.story(u'Создание заказа')

[code]

[2014-10-23 21:15] alvassin opened #45 "How it is possible to mark test as broken?"
How can i mark my test as broken?

[2014-10-24 12:29] ProMonstrosity opened #46 "Report pytest's xfail as allure's pending and pytest's skip as allure's cancelled."
There are 2 tests in module: 1 with xfail and 1 with skip.
Run tests on py.test.
Open allure report.

Result: there are 2 tests marked Cancel.
ExpResult: xfail test marked Pending, skip test marked Cancel.

[2014-10-27 10:05] alvassin opened #47 "Is it possible to rename test cases names?"
I set item name in conftest.py:

[code]

but in xml it stays with old names:

[code]

Can i somehow rename testcase name?

[2014-10-28 11:23] alvassin opened #48 "Is it possible to set test severity dynamically (from test)?"
E.g.:

[code]

[2014-11-10 20:37] #47 closed, assigned to nobody

[2014-11-10 20:37] #45 closed, assigned to nobody

[2015-01-14 09:40] dmakhno opened #53 "Nosetests support"
Would be nice to support nose too.
Any plans or suggestions what can be reused from this repo?

[2015-01-14 10:41] pupssman commented on #53
AFAIK, pytest has some ``nosetests`` running capability as declared here: http://pytest.org/latest/nose.html
However, I am not any familiar with ``nosetests`` internals and plugin mechanism to tell anything about a plugin implementation, but we do have ``AllureCommon`` class that can be used to facilitate the aforementioned plugin implmentation.

[2015-01-22 15:30] CChannella opened #54 "Support Lettuce Framework"
Lettuce is a BDD framework for python and it would be really good to have allure support that

[2015-01-23 08:34] pupssman commented on #54
Could be! Do you have any knowledge concerning Lettuce's pluggability mechanism?

[2015-01-23 08:38] pupssman commented on #54
This makes me sad: http://lettuce.it/search.html?q=plugin&check_keywords=yes&area=default
@gabrielfalcao any ideas?

[2015-01-23 09:09] gabrielfalcao commented on #54
You can extend lettuce by listening to its hooks http://lettuce.it/reference/terrain.html#reference-terrain

[2015-01-23 09:33] pupssman commented on #54
Aha! But how do I make lettuce discover my hooks? Register em via entry point, maybe?
Also, does lettuse run tests in parallel? How are hooks called in that case?

[2015-02-05 15:01] #46 closed

[2015-02-06 11:01] testuser7 opened #57 "version 1.5.3: ImportError (python 2.7)"
Hi,

I'm getting import error with new version of allure-python:

[code]

Six 1.9.0 with python 2.7 is installed.

Version 1.5.2 is working.

Regards,

[2015-02-06 12:33] pupssman commented on #57
Thanks for feedback, patch is on it's way!

[2015-02-06 12:48] pupssman commented on #42
Well, that's a bug indeed.

[2015-02-06 12:53] #57 closed

[2015-02-06 12:54] pupssman commented on #57
1.5.4 should roll to pypi soon enough and should have this problem fixed.

[2015-02-06 14:55] testuser7 commented on #57
Thank you for very fast fix!

But the problem was on my environment. I have installed six in two different locations (by apt-get and easy_install). easy_install pth file was not configured properly. After change path order in this file everything starts working properly :)

Regards,

[2015-02-06 23:43] pupssman commented on #29
Is fixed with #55

[2015-02-06 23:43] #29 closed

[2015-02-10 16:19] sergw opened #60 "Add possibility to allure.issue after collection"
[code]

or

[code]

[2015-02-12 09:48] pupssman commented on #8
@FuriousDuck есть новости?

[2015-02-13 11:48] pupssman commented on #8
Behold!
https://github.com/allure-framework/allure-core/releases/tag/allure-core-1.4.7
``
Group suites by name (from different files)
``

[2015-02-17 11:34] #42 closed

[2015-02-24 15:50] FuriousDuck commented on #8
@pupssman , есть, не очень хорошие пока что, сорри, что выпал надолго. Продолжаю воевать, вылезли дополнительные проблемы. Будет что показать - выдам

[2015-02-25 10:40] urtow opened #61 "Ошибка при обработке тестов помеченных как Skipped"
Используемая версия - 1.3.9

Если пометить тест как skipped средствами py.test ( декоратор pytest.mark.skipif ) allure генерирует отчет, но в Suite не будет списка проваленных тестов.

В консоль firefox пишется вот такая ошибка:

"Error: testcase.status is null
$scope.statistic<@http://localhost:54555/js/testcase/list.js:62:13
@http://localhost:54555/js/testcase/list.js:61:28
$RootScopeProvider/th

[2015-02-25 10:59] pupssman commented on #61
Крайняя на текущий момент версия адаптера генерирует XML для **1.4.X** allure-core -- попробуйте взять, например, **1.4.5**

[2015-02-25 11:17] urtow commented on #61
Спасибо за быстрый ответ!
Да, все в порядке.

Отдельное спасибо за прекрасный инструмент!

[2015-02-25 11:17] #61 closed

[2015-03-03 00:09] nicoddemus opened #63 "Move to pytest-dev team?"
Please consider moving to new [pytest-dev](https://github.com/orgs/pytest-dev) team. See [contributing](https://bitbucket.org/pytest-dev/pytest/src/e26175bf8246f01fc5573e92359b3124624c31b7/CONTRIBUTING.rst?at=default#rst-header-id8) for more information.

Cheers,

[2015-03-04 13:19] pupssman commented on #63
Hi there!
We are currently considering  breaking this project down in two: a generic allure -> python binding and a pytest-allure plugin to allow for another test system plugin development (namely, [sergeychipiga/nose-allure-plugin](https://github.com/sergeychipiga/nose-allure-plugin/)). Then the pytest plugin part could be moved to the pytest-dev team, I think.

@mavlyutov @eroshenkoam @dchr any

[2015-03-04 14:01] mavlyutov commented on #63
aye, we should split allure-python-bindings and pytest-adapter thingies first

[2015-03-04 14:04] nicoddemus commented on #63
Nice. When you guys feel it is ready for moving, please send an email to pytest-dev@python.org. :smile:

Cheers,

[2015-03-05 09:50] pupssman commented on #63
Roger that)

[2015-04-14 10:36] pluxak88 commented on #8
Есть какие-либо новости?

[2015-04-15 11:41] mavlyutov opened #68 "cant install package using Python34"
[code]

[2015-04-15 11:47] pupssman commented on #68
Hmm, `README.rts` is in `utf-8`.  I wonder what's cp1252 business here.

[2015-05-06 12:14] vitekes opened #73 "Есть ли возможность указать alluredir в коде?"
У меня есть набор тестов которые работают примерно таким образом
[code]
Есть ли на данный момент возможность генерировать xml файлы напрямую из кода, а не зпускать каждый раз в консоли `py.test --alluredir=path tests.py`

[2015-05-06 12:23] pupssman commented on #73
It would be better for the community to keep docs in English.

Regarding your problem:  the `pytest.main` function has an optional parameter of `args` that can be used to pass cmd arguments: see https://pytest.org/latest/usage.html#calling-pytest-from-python-code

[2015-05-06 12:23] #73 closed

[2015-06-12 08:25] braunman commented on #8
Очень хочется использовать xdist и allure. Пока нет вариантов?

[2015-07-09 07:55] rsavalagi opened #75 "Unable to run tests"
pytest version installed is 2.6, but test is reporting as version conflict.

    if require: self.require(env, installer)
  File "build/bdist.linux-x86_64/egg/pkg_resources.py", line 2100, in require
    working_set.resolve(self.dist.requires(self.extras),env,installer)))
  File "build/bdist.linux-x86_64/egg/pkg_resources.py", line 632, in resolve
    raise VersionConflict(dist,req) # XXX put more

[2015-07-10 12:49] pupssman commented on #75
`pytest (2.6.1)` looks like an explicit enough hint to install py.test of said version instead of your current `2.6`

[2015-08-05 23:20] spinus commented on #68
I also have a problem installing it on python3.4 but the reason is different. Enum34 should not be installed on python3.4 (it's a backport of 3.4 feature to previous python version) and gives and error if you tries to install it.

[2015-08-11 13:23] danielmartins opened #78 "Add support for Behave(BDD Framework)"
It would be nice if we have integration with Behave(http://pythonhosted.org/behave/)
Already tried with Allure CLI +  Behave Junit XML Generation
What I did:

I already tried to generate junit xml with

The default folder of junit xml generation is **reports/**

then

Open the allure reports without any information about the behave test steps, unit tests and behaviour either.

Would be nice if has

[2015-08-24 07:13] skaushik-ssi commented on #29
Still UnicodeDecode error is showing for latest build of allure python framework. Please provide solution for the same.

[2015-08-24 07:16] shw1231 commented on #29
Still UnicodeDecode error is displayed while installing allure for python 3.4 framework. Please provide solution for installing allure for python 3.4

[2015-08-24 07:29] shw1231 commented on #29
Use files from this path: https://github.com/rusg77/allure-python/tree/python3
It is working fine for Python 3.4.

Thanks..

[2015-09-11 14:25] josdotso opened #79 "Q: Compatible with pytest-bdd?"
Hi.  I'm learning Python and would like to write a test suite using pytest-bdd that reports with Allure.  Is there any reason to think pytest-bdd would not be compatible with allure-python?

https://pypi.python.org/pypi/pytest-bdd

https://github.com/pytest-dev/pytest-bdd

http://developer.paylogic.com/articles/how-we-use-pytest-and-pytest-bdd-in-paylogic.html

I'm particularly interested in repor

[2015-09-18 12:53] jimboliv commented on #8
Hey guys, is there any update on where we are getting allure integrated with xdist?  I have spoken to some other people recently in the Python testing community, and a lot of people are waiting for xdist support before they will look at using Allure for their pytest reporting.

Do you want a hand debugging this further?

[2015-09-18 12:56] mavlyutov commented on #8
appreciate any help you can provide

[2015-09-29 05:01] shat00n commented on #68
Same problem here with python3.5
Fails on Collecting enum34 (from pytest-allure-adaptor)

Any update?

[2015-10-01 17:55] Mattwhooo commented on #68
The encoding issue referenced by @mavlyutov  can be fixed by changing the following line in setup.py

def read(fname):
    return open(os.path.join(os.path.dirname(__file__), fname)).read()

To

def read(fname):
    return open(os.path.join(os.path.dirname(__file__), fname), encoding='utf-8').read()

[2015-10-01 21:42] mavlyutov commented on #68
@Mattwhooo python2 incompatible

[2015-10-01 23:34] Mattwhooo commented on #68
@Mavlyutov thanks. I wasn't sure if it was a universal fix which is why I didn't do a pull request.

[2015-10-06 10:14] dimonb commented on #8
Есть какие-либо новости?

[2015-10-07 11:49] pupssman commented on #8
Allure-core folks ( @eroshenkoam ) are currently working on some kind format rewamp (in 1.5 or something) and we are currently waiting for initial proposals to decide on proper way of fixing this and other issues.

[2015-10-15 19:40] pupssman commented on #8
So, anyone interested in delving into this? I am going to give it a  kick soon -- but any help would be appreciated.

[2015-10-20 23:24] #75 closed

[2015-10-20 23:25] pupssman commented on #60
Any ideas for the implementation part?

[2015-12-15 15:24] lil1337h4xx0r opened #83 "Динамическое создание @allure.testcase"
Возможно ли, по аналогии с @allure.step, динамически передавать значение в @allure.testcase?
Например в параметризированном тесте, который генерирует несколько тестов.

[2015-12-23 14:47] LeXuZZ opened #85 "Python 2.7: Плагин не преобразует байтовые строки фич/стори в юникод."
Пример: не работает запуск --allure_features=названиефичи

[2016-01-11 15:46] #8 closed

[2016-01-26 14:23] baev opened #87 "Add support for default step parameters"
For now there is no way to add default parameter value to step name:

[code]

[2016-01-26 14:24] baev commented on #87
In general you need to use `inspect` to get the function default arguments, and then provide in to `format` as well
https://github.com/allure-framework/allure-python/blob/master/allure/common.py#L56

[2016-01-31 21:28] pupssman commented on #87
@baev care to elaborate to get a full-fledged PR?

[2016-02-19 10:19] alexandermomot opened #88 "Allure_label is not a registered marker"
[code]

Hello! I had the error while trying to wrap method by decorator

My configuration is : venv with python 3.4.3 installed, latest version of the pytest and allure. Ubuntu 14.04. Requirements installed:

Code:
[code]

[2016-02-19 11:03] pupssman commented on #88
Judging by the code of `_pytest.mark.MarkGenerator` it makes that kind of check only if it has `_config` set, which is done only if you set `--strict`, in which case it looks up all markers from a pre-given list in `setup.cfg` markers parameter.

Please given exact `py.test` invocation line and `setup.cfg` contents.

[2016-02-19 11:22] alexandermomot commented on #88
pytest.ini contents:
[code]

Enter point script is:
/home/alexander-momot/Code/pytest-selenium-pgu/pytest-runner.py

Seems to be without --strict it works :)

[2016-02-19 11:30] pupssman commented on #88
That's not a bug, then.

[2016-02-19 11:30] #88 closed

[2016-02-19 11:34] pupssman commented on #85
Работает, если отмечать байтовой строкой

[2016-02-19 11:35] pupssman commented on #83
See #60 / #84

[2016-02-19 11:36] pupssman commented on #48
See #60 / #84

[2016-02-19 13:43] alexandermomot opened #89 "xdist and allure (again)"
Hello folks!

I'm very glad that #8 issue was resolved. Seems to be it take 2 years from now :)
But, still, I got the error.

[code]

My configuration is : venv with python 3.4.3 installed, latest version of the pytest and allure. Ubuntu 14.04 x86. Requirements installed:

pytest.ini contents:

[code]

Enter point script is:

Running as:

[2016-02-19 14:10] pupssman commented on #89
That's weird. AFAICS `attachments` are always initialized with an empty list.

Please give a test code example you use to reproduce that.

[2016-02-19 14:45] alexandermomot commented on #89
@pupssman here is the conftests and test example:

Starting from glob-level conftest and deeper:

tests/conftest.py:
[code]

Next level:
tests/beta/conftest.py:
[code]

Test-modules level (Test Example):
tests/some/core/services/*.py
[code]

[2016-02-19 16:27] pupssman commented on #89
That is weird indeed.
It appears that there is no predefined possibility for `attachments` to become `None`.
That problem of yours should require some debugging.

If you are unable to determine that yourself, please produce a MWE (minimal working example) that reproduces the problem in question and runs without any external dependencies.

[2016-02-24 21:59] inrix-yi-gu commented on #78
+1

[2016-02-26 08:59] pupssman commented on #78
Looks like a nice feature to have, yep. Help welcome)

[2016-02-29 12:50] alexandermomot commented on #89
@pupssman Hello there! Now I have more time to discover the issue. Somehow method write_attach is called with the "attachment" argument equals to '1'. This is how it looks like in debug mode:
https://hsto.org/files/b2d/2df/85f/b2d2df85f4d84d53a798b8167c857b36.png

But as mentioned in the docstring, we expecting allure.structure.Attach object comes here.

Could you please, tell me, which chain of s

[2016-02-29 13:46] alexandermomot commented on #89
Going deeper:
https://habrastorage.org/files/564/1a4/503/5641a4503ea8406bb2af13b31e14306c.png
Thats the reason. iter_attachments() returns string, so when it trying to iterate over it, the first returning value is "D" as first letter of the string. Seems to be, instead of attachment object, it returns the name of the Suite.Case

[2016-03-01 09:28] pupssman commented on #89
Check what gets written to the `_allure_result` here: https://github.com/allure-framework/allure-python/blob/master/allure/pytest_plugin.py#L195
That's what we are getting on the test execution side. If that has `attachment` fields scrambled one should set a break point at https://github.com/allure-framework/allure-python/blob/master/allure/pytest_plugin.py#L127 and examine every call to try to fi

[2016-03-02 19:28] andre2test commented on #78
Just discovered **allure** and this would be something I would use quiet a bit.

[2016-03-14 17:28] bubanoid opened #91 "A problem with pip install pytest-allure-adaptor."
Trying `pip install pytest-allure-adaptor` with **Python 2.7.10** I have got the following error:

I should say that I have successfully installed  `pytest-allure-adaptor` on environment with Python3. Any ideas how to solve it with Python2.7?

[2016-03-16 17:08] #91 closed

[2016-03-16 17:12] bubanoid commented on #91
Sorry guys, the installation of the `lxml` package into environments caused the problem. Now it is solved.

[2016-03-21 11:39] i-feofilaktov opened #92 "Add pytest >= 2.9.1 compatibility"
After pytest upgrade from 2.9.0 to 2.9.1 pytest-allure-adaptor seems to be broken:

[code]

pytest-allure-adaptor version: 1.7.1
pytest version: 2.9.1

[2016-03-21 11:55] pupssman commented on #53
This was resolved with the introduction of https://github.com/allure-framework/allure-nose-adaptor

[2016-03-21 11:55] #53 closed

[2016-03-21 11:55] pupssman commented on #34
This should not be the issue with the latest versions

[2016-03-21 11:55] #34 closed

[2016-03-22 15:55] alexout commented on #89
By a chance, did anyone find any clues of why this might be happening? I'm trying to figure out root cause of this problem too.

[2016-03-22 18:09] pupssman commented on #89
We fail to reproduce that in our environment. Can you please produce a MWE?

[2016-03-22 18:13] alexout commented on #89
Thanks, Ivan. Sure, I'll try to produce MWE. What is the best way to share it?

[2016-03-22 18:18] pupssman commented on #89
A gist should definitely do

[2016-03-23 00:01] alexout commented on #89
Here it is: https://gist.github.com/alexout/98e3a643301176356b51
I'm running it in virtualenv
Thanks a lot for looking into it and let me know if I can help with anything. Ideas on how to debug are more than welcome too.

[2016-03-23 09:29] mavlyutov commented on #92
confirmed
breaking change: https://github.com/pytest-dev/pytest/commit/28530836c9351c3b18434b9a3dc4fc1f1900a7fb

[2016-03-28 13:53] pupssman commented on #89
Will look soon into the issue, bit busy now =(

[2016-03-31 10:51] The-Compiler commented on #92
You really shouldn't use private pytest APIs, everything in the `_pytest` package is not public API. Otherwise, you risk breaking your plugin with *any* pytest upgrade, even patch releases.

I don't know either Allure nor junitxml very well, so could you explain what you need `_pytest.junitxml.mangle_testnames` for in your plugin? Maybe there's a better solution.

cc @RonnyPfannschmidt @nicoddemus

[2016-03-31 10:55] alenickwork commented on #92
same issue, extremely waiting for bugfix
#1479
#1497

[2016-03-31 10:58] The-Compiler commented on #92
@alenickwork https://github.com/pytest-dev/pytest/issues/1497 and https://github.com/pytest-dev/pytest/issues/1479 are related to pytest not *giving an useful output* when an error happens while loading a plugin. It's not the same issue.

[2016-03-31 14:09] aosheter opened #93 "Cannot set description-type in pytest"
When generating a report, pytest-allure-adaptor returns the following XML file.

[code]

I noticed there's no description-type, and from the documentation, I couldn't find a way to add markdown to my descriptions. I've talked with @baev and he suggested I open an issue. Having this feature would be great for our group.

Thank you :)

[2016-03-31 14:11] baev commented on #93
Summon @pupssman

[2016-03-31 18:43] pupssman commented on #93
Are you ready to make a contribution? I could provide pointers as from where to start

[2016-03-31 18:45] pupssman commented on #92
We should not really need that function, it's was copy-pasted from the `junit` plugin in the early days.

[2016-04-01 08:37] aosheter commented on #93
Sure why not

[2016-04-06 18:11] pupssman commented on #92
One should un-limit pytest version introduced in #95 when fixing this issue

[2016-04-20 16:03] josdotso commented on #79
:(

[2016-04-20 16:51] pupssman commented on #79
As in #78 , any contribution is welcome)

[2016-05-05 12:02] pupssman opened #98 "Memory leak with allure report recording active"
If tests produce lots of attachments `py.test` memory footprint grows significantly with every attachment and is not reduced at any moment before test session finish.

This looks like a trouble with `_allure_result`-passed data not being garbage-collected. Same tests run without `--alluredir` do not use that much memory.

Also, memory usage is low for `pytest-allure-adaptor < 1.7.0` -- looks like

[2016-05-05 12:02] pupssman commented on #98
#97 fixes taht

[2016-05-11 14:07] kondaurov commented on #89
Hi guys,
based on my debug reason is:
de-serialized object **testcase** are not equal to pickled object **self.test**. See screenshot.
![debug_scr](https://cloud.githubusercontent.com/assets/9890633/15183639/931631b8-179a-11e6-972a-1cc14016cf23.jpg)

[2016-05-12 12:51] kondaurov commented on #89
I suppose that reason of such behavior is that **unpacked** **kw in **def xmlfied()** have different behavior in python2.7 and python3.x. If run def xmlfied() several times in python2.7 elements order in the dict kw always the same. But in python3.x **elements order in the dict kw always random**.
Python2.7 run 3 times:
['status', 'description', 'title', 'labels', 'stop', 'start', 'attachments', '

[2016-05-12 12:53] kondaurov commented on #89
I don't understand why. :)

[2016-06-20 18:03] OlehKuzovkov opened #101 "Add pytest >= 2.9.2 compatibility feature"
So far pytest-allure-adaptor is not working with the latest pytest 2.9.2.

Could you please fix it?

Thank you.

[2016-07-31 15:50] SergeyPirogov opened #103 "video attachment"
Hi,

Is it possible to attach .mp4 video to allure?

Trying this way, but it doesn't work?

allure.attach('Video attach', open("path to video").read())

Any ideas?

[2016-08-01 10:18] pupssman commented on #103
That will technically work, but instead of video a text dump of it will be displayed.
A proper `AttachmentType` should help, but only if the allure-core itself allows video attachment.
Please check with allure-core docs or group in Gitter about proper content-type and video attachment capabilities.

[2016-08-01 10:24] SergeyPirogov commented on #103
@pupssman It's already implemented. From Java I'm able to to attach video and play it from report. But in python it differs

See example. https://www.youtube.com/watch?v=74zD5q9DKTw

[2016-08-01 10:28] just-boris commented on #103
@pupssman, videos are supported in core since 1.2.24, see https://github.com/allure-framework/allure-core/pull/777

You just need to provide proper mime-type, to make it work. The possible types are listed here:
https://github.com/allure-framework/allure-core/blob/master/allure-report-face/src/util/attachmentType.js#L29-L31

[2016-08-01 10:29] pupssman commented on #103
Then you should be able to make that from python via proper `attachment_type`, like with PNG:
[code]
C https://github.com/allure-framework/allure-python/blob/master/demo/test_attaches.py#L36 for examples
The case is there is no content-type for video -- you will have to submit a PR to this repo to add that.

[2016-08-02 08:17] SergeyPirogov commented on #103
@pupssman I created demo to show how video behaves now https://www.youtube.com/watch?v=MMJzbPWKk-s

Somehow it attaches, but on click it downloads instead of playing inside report. Any suggestions?

[2016-08-02 09:07] pupssman commented on #103
Please do provide the XML files formed after test run.
Also, what attachment type have you used?

[2016-08-02 09:18] SergeyPirogov commented on #103
Please find code below:

class AttachmentTypeExtended(Enum):
    def __init__(self, mime_type, extension):
        self.mime_type = mime_type
        self.extension = extension

    MP4 = ("video/mp4", "mp4")

allure.attach('Video attach', open(path, "rb").read(), AttachmentTypeExtended.MP4)

[2016-08-02 09:24] pupssman commented on #103
That looks fine, but to debug the actual problem we'd need a live XML report.
Also, what version of the report  generator do you use?

[2016-08-02 11:24] SergeyPirogov commented on #103
@pupssman please find live XML report in project below https://github.com/SergeyPirogov/video_recorder_python

See folder reports

[2016-08-02 11:55] pupssman commented on #103
@just-boris please take a look at the XML:
[code]
https://github.com/SergeyPirogov/video_recorder_python/blob/master/reports/5b9f150a-3737-4ad0-8750-4724e412bc28-testsuite.xml#L33-L35

That looks properly formed.

Also, @SergeyPirogov , what report tool version do you use?

[2016-08-02 12:29] just-boris commented on #103
From the point of XML everything is fine.

I tested with my mp4 video, and it works like this:
![image](https://cloud.githubusercontent.com/assets/812240/17328333/5b20949c-58bd-11e6-8fa5-7558c5a7ba7f.png)

The problem probably somewhere else

[2016-08-02 12:49] SergeyPirogov commented on #103
Ok I will investigate deeper, because in java version everything works fine, I faced this issue in python implementation. I guess from allure side it's clear that everything work properly

[2016-08-02 16:22] tarvitz commented on #41
Can't say for everyone but I didn't us doctest since the latest report I made.
Think this issue could be closed.

[2016-08-04 18:57] Yelisey commented on #101
Есть решения уже костыльные по этому поводу?

[2016-08-04 18:57] Yelisey commented on #101
Есть решения уже костыльные по этому поводу?

[2016-08-04 19:05] OlehKuzovkov commented on #101
Неа, использую pytest 2.9.0 :(

[2016-08-05 10:35] SergeyPirogov commented on #103
I've checked. Thank you guys. Question is closed. Video attaches properly. Problems described above connected with Chrome version 52  on Ubuntu 14.04. On other systems everything works fine

[2016-08-05 10:35] #103 closed

[2016-08-05 11:10] pupssman commented on #103
Good

[2016-08-22 15:21] rosariomgomez commented on #89
Is the open PR going to be merge any time soon? Waiting for that in order to use Allure with Python3.5 and xdist. Thanks!

[2016-08-30 07:22] shat00n commented on #92
There is pytest 3.0.1 already,
any updates on this ticket please?

[2016-08-30 11:32] seriousnick commented on #92
Сan't wait for updates too...

[2016-09-19 16:50] #98 closed

[2016-09-26 09:13] hprem opened #104 ""IndexError: list index out of range" during start_step"
On running the following script in pytest with "-x" flag, we see the error "IndexError: list index out of range" on running the step Cleanup

**Script**
`
#!/usr/bin/env python

import pytest
from allure import step

@pytest.fixture(scope='module')
def setup(request):
    def cleanup():
        with step('Cleanup'):
            pass
    request.addfinalizer(cleanup)

def test_1(setup):
    assert(

[2016-09-26 18:07] rodionAI commented on #78
+1

[2016-10-25 21:54] heartwilltell commented on #101
pytest 3.0.3 was released so long ago, but the fix is ​​still not ready yet

[2016-11-02 12:09] alexandermomot commented on #101
Which python (2.7, 3.4[5]) you use with the adaptor?

[2016-11-02 12:13] shat00n commented on #101
Python 3.5

[2016-11-02 13:49] heartwilltell commented on #101
3.5

[2016-11-02 16:33] anton7811 commented on #101
The same issue with python 2.7

[2016-11-02 16:58] fess77 commented on #101
3.5

[2016-11-11 10:56] alexandr85 commented on #101
3.5

[2016-11-18 11:16] szarlatan commented on #78
+1

[2016-11-25 15:38] nataly22 opened #108 "Allure doesn't make a screenshot on a mobile device during the autotests with pyTest uiAutomator on Android"
When I run autotests with pytest+Selenium WebDriver+allure - allure makes screenshots,
but I run autotests with pyTest_uiAutomator+allure  on mobile device Android - I get error when want to look png.file with screenshots.

My testcode:
[code]

after that a have during open png file::
"Fatal error reading PNG image file: Not a PNG file"

[2016-11-28 17:04] pupssman commented on #108
@nataly22 could you please provide MVE and/or actual report (with source files and built reports)?

[2016-11-29 09:01] nataly22 commented on #108
Test run:
~/101discounts/tests/tmp_for_github$ py.test   test_registration_a.py --alluredir /home/ngora/reports/ui/

Text during run:

================================================= test session starts ==================================================
platform linux2 -- Python 2.7.12, pytest-2.9.0, py-1.4.31, pluggy-0.3.1
rootdir: /home/ngora, inifile:
plugins: allure-adaptor-1.7.5
collected 1

[2016-11-29 09:05] nataly22 commented on #108
I wrote a reply with source files and built reports on gitHub site in my issue.

Thank you in advance for your help in solving the problem

28 ноября 2016, 19:05:06, от Ivan Kalinin < notifications@github.com >:
@nataly22 could you please provide MVE and/or actual report (with source files and built reports)? —
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2016-11-29 10:46] pupssman commented on #108
@nataly22 however useful screenshots could be they fail to provide the most crucial information.
Please attach a .tar.gz / .zip archive with the source code and reports to the github issue.

[2016-11-29 10:58] nataly22 commented on #108
sending archive
[tmp_for_github.tar.gz](https://github.com/allure-framework/allure-python/files/618756/tmp_for_github.tar.gz)
[reports.tar.gz](https://github.com/allure-framework/allure-python/files/618763/reports.tar.gz)

[2016-11-30 13:41] pupssman commented on #108
Apparently, you are doing screenshots wrong.

Contents of the attachment files are as follows:
[code]
I.e. there is plain text string `Screen_start_page` instead of image data.

This may be caused by you explicitly commanding allure to attach that very plain text string in your code:
[code]
As per allure's documentation, second argument to the `allure.attach` method call is the file content to be

[2016-12-01 10:51] nataly22 commented on #108
If I change my code and run such test:

@allure.feature('Registration to  Dimo with G+ button.')
    @allure.story('Registration to  Dimo with G+ button.')
    def test_registration_gp(self):
        time.sleep(2)
        #Enter from G+ button and choice account
        self.func_m.run_Dimo(d)
        time.sleep(2)
        #Make photo of start page
        d.screenshot('/home/ngora//reports/ui/mya

[2016-12-01 11:53] pupssman commented on #108
Glad to know problem is solved

[2016-12-01 11:53] #108 closed

[2016-12-08 21:54] sridharaiyer commented on #101
Hello experts. I am getting an error when I run -
`pytest --alluredir

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/site-packages/_pytest/vendored_packages/pluggy.py", line 510, in load_setuptools_entrypoints
    plugin = ep.load()
  File "/usr/local/lib/python3.5/site-packages/pkg_resources/__init__.py", line 2229, in load
    self.require(*args, **kwargs)
  File "/usr/loca

[2016-12-08 21:55] sridharaiyer commented on #101
Python 3.5
Pytest 3.0.5
pytest-allure-adaptor (1.7.6)
Mac OS

Urgent help is appreciated.

[2016-12-12 11:26] kep4yg commented on #78
+1

[2017-01-21 20:01] AlinMihut commented on #101
Hi,

I got the same error as @sridharaiyer. Can you please take care of this issue ?

Regards

[2017-01-26 13:03] carledriss commented on #78
+1

[2017-02-01 04:28] mbhagavathula commented on #101
Same error as @sridharaiyer is observed in my setup. Is there any fix for this issue?

[2017-02-09 11:08] SergeyPirogov commented on #101
Fixed in https://github.com/allure-framework/allure-pytest/pull/110

[2017-02-09 11:10] SergeyPirogov commented on #92
Fixed by https://github.com/allure-framework/allure-pytest/pull/110

[2017-02-13 09:02] President commented on #78
+1

[2017-03-15 17:08] hemanthsridhar commented on #78
+1

[2017-03-16 09:15] alexandermomot commented on #78
Do you think it will be suitable to use adapter for the pytest framework with the behave framework?
I'd rather propose to create separate repo for that propose, something like allure-framework/allure-behave ?

[2017-03-23 15:38] #92 closed

[2017-03-23 15:40] #89 closed

[2017-03-26 09:32] zaz600 commented on #92
When it will be released for pip install?

[2017-03-26 09:32] baev commented on #92
ASAP, we are working on it

[2017-03-26 10:54] SergeyPirogov commented on #92
@zaz600 you can install it using pip install git+https://github.com/allure-framework/allure-pytest.git

[2017-03-26 16:18] zaz600 commented on #92
@SergeyPirogov i know.  i need to install fixed version in requirements.txt, not from master branch :)

![image](https://cloud.githubusercontent.com/assets/1171520/24332989/f0273a96-1258-11e7-85f4-41f015707002.png)

[2017-03-26 16:19] baev commented on #92
1.7.7 should be available now

[2017-04-04 18:46] lagin commented on #78
+1

[2017-04-04 21:59] shreyashah opened #112 "How to make allure plugin dependent on another plugin?"
Say, I have my own custom email reporting plugin that allure is dependent upon. How do I specify  this dependency in allure? Somewhere in setup.py? If yes, like just putting the custom plugin name in "install_requires" list?
Any help is appreciated.

[2017-04-04 22:00] shreyashah commented on #112
One more thing is:
I need that custom plugin to be loaded before the allure plugin. How to specify this?

[2017-04-05 09:41] sseliverstov commented on #112
Hi
http://python-packaging.readthedocs.io/en/latest/dependencies.html
https://docs.pytest.org/en/latest/writing_plugins.html

[2017-04-05 09:41] #112 closed

[2017-04-14 00:20] shreyashah opened #113 "Can I see log trace of a passed test case, currently the debug trace is only for failed test cases"

[2017-04-14 06:33] sseliverstov commented on #113
Hi, Do you mean xpassed cases?

[2017-04-19 00:15] shreyashah commented on #113
ah! This is solved..
If i use pytest with -s option, only the failed test cases shows the stdout capture trace and not the passes test cases.
But if you want to see the stdout or log trace of passed test cases, then run without -s option

[2017-04-19 00:15] #113 closed

[2017-04-19 11:48] waqas36 commented on #78
+1

[2017-04-19 15:37] hemanthsridhar opened #114 "@Attachment for video having .webm is not attaching to the allure report in Ubuntu"
I have written a script that will attach the video after every test. The Video is getting attached in Windows, it is not attaching in Ubuntu.

Ubuntu server.

I am attaching it as a byte array.

@Attachment(value = "Video of {0}",type="video/webm")
	public byte[] attachVideo(String testCaseName,String path) throws Exception {
		return getFile(path);
	}

	public byte[] getFile(String path) throws E

[2017-04-19 15:44] baev commented on #114
@hemanthsridhar could you please provide a sample project to reproduce the problem?

[2017-04-19 15:45] baev commented on #114
Also, please move the issue to `allure-framework/allure1` repository

[2017-04-19 15:45] #114 closed

[2017-04-19 16:16] hemanthsridhar commented on #114
Its a permission I guess. Please close the issue. I will try to debug more and will get back to you with a project. Thank you

Regards,
Hemanth Sridhar

[2017-04-19 21:36] shreyashah opened #115 "Can I add color coding to stdout trace attachment in allure report"

[2017-04-19 21:47] sseliverstov commented on #115
I am afraid, but pytest is wrong place for this report.

Please,

1. Move this issue to allure2 repo

2. Explain that you mean about colorize of trace.

[2017-04-19 21:54] shreyashah commented on #115
I am using allure-pytest plugin. So, the index.html is generated from the xml file using allure cli.
In this index.html, I want to colorize the trace.
How should I go to do this colorization? Apparently, this trace capture generated in index.html is a txt file attachment

[2017-04-19 22:02] sseliverstov commented on #115
Can you attach screenshots that you have now and that you want (may by from third party software)

[2017-04-20 23:28] sangmeshcp opened #116 "seeing some os.error too many files.. any known issue here ?"
INTERNALERROR>   File "/python3.4/site-packages/pytest_allure_adaptor-1.7.6-py3.4.egg/allure/pytest_plugin.py", line 546, in pytest_runtest_logreport
INTERNALERROR>   File "/python3.4/site-packages/pytest_allure_adaptor-1.7.6-py3.4.egg/allure/pytest_plugin.py", line 534, in write_attach
INTERNALERROR>   File "python3.4/site-packages/pytest_allure_adaptor-1.7.6-py3.4.egg/allure/common.py", line 209

[2017-05-17 16:43] TimurNurlygayanov opened #117 "Plugin already registered"
How To Reproduce:
1) Run PyTest command with allure report
2) Run the same command one more time (with the same path to allure reports)

Expected Result:
Everything works just fine.

Observed Result:
PyTest crashed with "Plugin already registered" error:

========================================================= ERRORS =========================================================
_____________________

[2017-05-18 07:05] sseliverstov commented on #117
New plugin is not compatible with old version. It use same entry points and module names. Please uninstall old plugin and try again.

[2017-05-18 12:35] TimurNurlygayanov commented on #117
sseliverstov, it was a new installation with the latest version of the plugin.

The root of the issue not in different versions of the plugin, but in two different test executions which use the same folder for allure reports.

[2017-05-24 00:13] shreyashah opened #118 "I am looking to add a attachment in one of the tabs , not to a test case"
I want to add my topology file to allure report but don't want to tie this to any test case.
May be in the Overview tab.

[2017-05-31 10:32] luarvik-od commented on #117
Have faced with the same problem.
C:\Users\igor.k\AppData\Local\Programs\Python\Python36\python.exe "C:\Program Files\JetBrains\PyCharm Community Edition 2017.1.2\helpers\pycharm\_jb_pytest_runner.py" --path C:/Users/igor.k/.PyCharmCE2017.1/snaapy/snaapy-ui-tests/Tests/Tests_customer_dashboard
Testing started at 1:31 PM ...
Launching py.test with arguments C:/Users/igor.k/.PyCharmCE2017.1/snaapy/s

[2017-05-31 17:44] shreyashah commented on #118
any answers for this, please?

[2017-06-19 14:59] antlong opened #119 "Environment not filled in on tests"
In my test, I put:

import pytest
import allure

def pytest_configure(config):
    allure.environment(url='amuse-i-d.vice.com', browser=u'Google Chrome')

I ran the test, and environment was not filled in.

http://imgur.com/a/licky

[2017-06-20 00:08] Michurink commented on #78
+1

[2017-06-26 13:32] baev commented on #54
moved to new Allure Python integrations https://github.com/allure-framework/allure-python/issues/62

[2017-06-26 13:32] #54 closed

[2017-06-26 13:39] #63 closed

[2017-06-26 13:55] baev commented on #78
fixed in https://github.com/allure-framework/allure-python , will be available in next release

[2017-06-26 13:55] #78 closed

[2017-06-26 13:57] baev commented on #101
also consider using https://github.com/allure-framework/allure-python instead.

https://pypi.org/project/allure-pytest/

[2017-06-26 13:57] #101 closed

[2017-06-27 14:10] sseliverstov commented on #78
https://pypi.python.org/pypi/allure-behave/

[2017-06-27 15:02] OlegKuzovkov opened #120 "Got ImportError: cannot import name 'unicodify' error after updating to version allure-pytest 2.0.0b2"
Stacktrace:
[code]
Failing import is:
[code]

Content of allure.utils:
[code]

[2017-06-27 15:08] sseliverstov commented on #120
Looks like old adaptor is still installed. Can you try remove allure1 and reinstall b2?

[2017-06-27 15:14] OlegKuzovkov commented on #120
Just uninstall using command:
[code]
Got the same error again after installing it using command:
[code]

[2017-06-27 15:15] sseliverstov commented on #117
Can you say plugin version?

[2017-06-27 15:19] sseliverstov commented on #120
Importing fails on file "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/allure/rules.py it is part of old adaptor

try
[code]

[2017-06-27 15:23] OlegKuzovkov commented on #120
I have the latest version of pytest-allure-adaptor (1.7.7 on pypi). I have reinstalled it though and got the new error:
[code]

[2017-06-27 15:33] sseliverstov commented on #120
Can you check that allure-python-commons is installed?

[2017-06-27 15:37] OlegKuzovkov commented on #120
It was installed, however I have decided to reinstall it. Afterwards I've got the initial problem:
[code]

[2017-06-27 15:47] sseliverstov commented on #120
Very strange, looks like you again install old version.

**pytest-allure-adaptor** - it is old python adaptor, that produce report files in xml
**allure-pytest** - it is new plugin, that has other package name and structure, It is not next version of pytest-allure-adaptor.

can you do this:

1) delete **pytest-allure-adaptor** - pip uninstall pytest-allure-adaptor
2) uninstall  **allure-pytest** -

[2017-06-27 15:53] sseliverstov commented on #118
Maybe it possible with allure2 pluginisation, check article here https://docs.qameta.io/allure/2.0/#_allure_plugins_system

[2017-06-27 15:53] OlegKuzovkov commented on #120
After performing 1, 2 and 3 steps I've got:
[code]

Output of 'pip list | grep allure':
[code]

Output of "ls -l /Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/allure/":
[code]

[2017-06-27 15:53] #118 closed

[2017-06-27 16:05] sseliverstov commented on #120
yep, utils.py is absent =(

You can try remove and Install allure-python-commons again, while I will check it with clear python3

[2017-06-27 16:13] OlegKuzovkov commented on #120
After reinstalling 'allure-python-commons':
[code]
Allure has disappeared. I am not able to import it anymore.

[2017-06-27 16:18] sseliverstov commented on #120
oh pip (
how about
ls -l /Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/allure/
?

[2017-06-27 16:19] OlegKuzovkov commented on #120
[code]

[2017-06-27 16:20] sseliverstov commented on #120
OK
So how about exception and where you can't import allure?

[2017-06-27 16:22] OlegKuzovkov commented on #120
Error is:
[code]

[2017-06-27 16:25] sseliverstov commented on #120
try pytest.allure.step

[2017-06-27 16:27] sseliverstov commented on #120
good practice is cleaning __pycache__ also

[2017-06-27 16:31] OlegKuzovkov commented on #120
With 'pytest.allure.step':
[code]

I've cleaned up pycache in advance:
[code]

[2017-06-27 16:33] sseliverstov commented on #120
do you run allure with --alluredir=... ?

[2017-06-27 16:35] OlegKuzovkov commented on #120
I am running from IDEA without --alluredir (only specifying test case to run). This is the way it was always working before this update :)

[2017-06-27 16:37] OlegKuzovkov commented on #120
Just to summarize what I have right now:
Installed allure-pytest
Reinstalled manually allure-python-commons

After this, I have __init__ file of allure module completely empty.  That's why I cannot execute anything from allure

[2017-06-27 16:38] sseliverstov commented on #120
PyCharm or Idea?

[2017-06-27 16:39] OlegKuzovkov commented on #120
IDEA:
<img width="1368" alt="screen shot 2017-06-27 at 7 39 12 pm" src="https://user-images.githubusercontent.com/9959366/27599123-5c420bb0-5b70-11e7-8e86-c1e4c56bd868.png">

[2017-06-27 17:00] sseliverstov commented on #120
```__init__``` must be empty, because `allure` now is common package.
Strange installation of common module may be result of caching in idea, it is needed to reproduce.
Perhaps, pytest allure must be enabling without `allure dir` argument. It's depend from some reasons.

[2017-06-27 17:12] OlegKuzovkov commented on #120
Okay, now it is clear.
From our investigation we detected at least 3 issues here:
1. install allure-pytest is not working by itself. We have to reinstall manually allure-python-commons
2. We have to always run with --alluredir attribute
3. All the @allure annotations should be replaced with @pytest.allure everywhere. (This is not actually an issue)

@sseliverstov Could you please let me know if th

[2017-06-27 17:24] sseliverstov commented on #120
1.  I will check it with clear docker image
2. Keep old behave here it is good idea
3. Yep, I hope it is not to so bothering

[2017-06-27 17:27] OlegKuzovkov commented on #120
About 2. point(just to be clear): Right now It is not working at all without --alluredir attribute.

[2017-06-27 17:32] sseliverstov commented on #120
Allure2 produce files with unique names, so all your previous runs willn't overwritten and on report you will see that test was reruned

[2017-06-27 17:40] OlegKuzovkov commented on #120
Is there any allure rerun logic?

[2017-06-27 17:49] sseliverstov commented on #120
1.
**pytest-allure-adaptor** and **allure-python-commons** has same file in same place ```../allure/utils.py```
After uninstallation old version we lose this file. Sometimes this [code](https://github.com/allure-framework/allure-python/blob/master/allure-pytest/setup.py#L5) is not work and let installation over old adaptor.

[2017-06-27 17:56] sseliverstov commented on #120
Any test has history id. It is hash of test location and parameters. In generating phase all tests with same hisotryid is marked as reruns.

[2017-06-28 06:51] OlegKuzovkov opened #121 "Unable to execute test cases specifying --allure_features or --allure stories attribute"
On the old version of adapter everything was fine.

Allure version:
[code]

Error:
[code]

Setup in IDEA:
<img width="989" alt="screen shot 2017-06-28 at 9 49 49 am" src="https://user-images.githubusercontent.com/9959366/27623881-2f039674-5be7-11e7-9a53-3890bf8c7e5e.png">

[2017-06-28 07:36] sseliverstov commented on #121
Hi, try --allure-stories.
Plz open new issues for second version here: https://github.com/allure-framework/allure-python

[2017-06-28 09:15] OlegKuzovkov commented on #121
Works fine with --allure-stories/--allure-features.
Thank you

[2017-06-28 10:17] sseliverstov commented on #121
cool!

[2017-06-28 10:17] #121 closed

[2017-06-28 10:22] sseliverstov commented on #119
Has it ever worked?
Try it with session scope fixture, may be allure is not ready on configuration stage.

[2017-06-29 12:32] OlegKuzovkov commented on #121
@sseliverstov Just noticed that I am no longer able to start my test runs using python command:
[code]

Funny thing that from IDEA everything work fine, but on my linux servers it is throwing error:
[code]

Could you please advice what is the problem.

NOTE: With allure-pytest-adaptor 1.7.7 everything works fine

[2017-06-29 12:35] sseliverstov commented on #121
Please, open issue on https://github.com/allure-framework/allure-python/

[2017-07-04 13:55] opisochnyuk commented on #104
+1

[2017-07-07 14:03] misamoylov opened #122 "Support tags: HOST, FEATURE and etc via LabelType class"
Now supports only TAG attribute from class LabelType
`class LabelType(Enum):
    def __str__(self):
        return self.value

    FEATURE = 'feature'
    STORY = 'story'
    SEVERITY = 'severity'
    THREAD = 'thread'
    HOST = 'host'
    TAG = 'tag'`
That I can use like this
tag_mark = pytest.allure.label(LabelType.TAG, 'one')
    request.node.add_marker(tag_mark)

It will be great if i can use

[2017-07-08 14:22] sseliverstov commented on #122
https://github.com/allure-framework/allure-python/issues/85
https://github.com/allure-framework/allure-python/issues/86

[2017-07-08 14:22] #122 closed

[2017-07-08 14:34] sseliverstov commented on #120
It is python package management weakness. Are happens on update from 1.7 and when we move/rename files in beta package. Will be fixed near stable release.

https://github.com/allure-framework/allure-python/issues/87

Pytest load __ini__ and conftest.py before plugins configuration.
fixed here:
https://github.com/allure-framework/allure-python/commit/7331fb09a421f66e9c50006be1f1d9ebc0505d47

[2017-07-08 14:34] #120 closed

[2017-07-10 20:15] antlong commented on #119
I don't have the ability to dive in deeper.

[2017-07-10 21:12] shreyashah opened #123 "Teardown function's logs not captured in allure report"
If I have a xunit style setup and teardown methods at function level ,
and if i run my test script without -s option,
only stdout setup and stdout call are captured. Why is stdout teardown not captured?

<img width="1399" alt="screenshot at jul 10 13-21-13" src="https://user-images.githubusercontent.com/1056793/28040158-b1fecc42-6579-11e7-9085-e6d4f24b3dac.png">
<img width="389" alt="screenshot at

[2017-07-10 21:23] shreyashah opened #124 "Providing a responsive UI"
The Allure report does not seem to have a responsive UI? The page does not adapt or respond based on the size of the screen.
If we have customers who want to check the report on their cell phone, would the page still be responsive?

[2017-07-11 12:49] sseliverstov commented on #124
Allure 2 is more usable on mobile devices. You can test it with demo report https://ci.qameta.io/job/allure2/job/master/Demo_Report/index.html. It is not ideally now, but we are planned some fixes. Please for ui issues use https://github.com/allure-framework/allure2

[2017-07-11 12:49] #124 closed

[2017-07-11 23:12] shreyashah commented on #123
Any replies for this, please?

[2017-07-14 22:16] polusok commented on #79
+1

[2017-07-18 07:35] sseliverstov commented on #79
https://github.com/allure-framework/allure-python/issues/109

[2017-07-18 07:35] #79 closed

[2017-07-19 22:45] shreyashah commented on #118
I added the topology image link in the environments section

[2017-08-03 15:23] beriya opened #125 "Incompatible with pytest 3.2.0"
When i try to run tests with latest pytest version I get `InvocationError` with next stack trace:
[code]
With pytest 3.1.3 everything is ok.

[2017-08-04 13:57] beriya commented on #125
Fixed https://github.com/allure-framework/allure-pytest/pull/126

[2017-08-04 13:57] #125 closed

[2017-10-17 10:42] abhinavb1 opened #132 "getting ValueError: option names set(['--alluredir']) already added" while trying to build a job on jenkins with allure-pytest plugin"
Traceback (most recent call last):
  File "/usr/local/bin/pytest", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/_pytest/config.py", line 49, in main
    config = _prepareconfig(args, plugins)
  File "/usr/local/lib/python2.7/dist-packages/_pytest/config.py", line 168, in _prepareconfig
    pluginmanager=pluginmanager, args=args)
  File "/usr/local/lib/py

[2017-10-18 06:05] #132 closed

[2017-10-18 06:05] sseliverstov commented on #132
It is happens when are both versions of allure plugin installed. Uninstall all allure plugins and allure-python-commons, then install one of your prefer version. Sometimes pip don't deletes files from .../site-packages/. If this issue stay actual, please, delete allure files from  .../site-packages/ manually.

[2017-10-18 06:06] sseliverstov commented on #117
It is happens when are both versions of allure plugin installed. Uninstall all allure plugins and allure-python-commons, then install one of your prefer version. Sometimes pip don't deletes files from .../site-packages/. If this issue stay actual, please, delete allure files from  .../site-packages/ manually.

[2017-10-18 06:06] #117 closed

[2017-10-18 07:11] #85 closed

[2017-10-18 07:13] sseliverstov commented on #116
it it actually, please reopen issue

[2017-10-18 07:13] #116 closed

[2017-10-23 10:30] autonaist opened #135 "Cyrillic symbols display like unicode in test's title"
Parameters, which my test receive, are cyrillic symbols. It display in block "Parameters" absolutely correctly, but in title parameters display like unicode (using Pytest-Allure-Adaptor v.1.7.8 alike 2.2.3b1).

I'm using Pytest v.3.2.3, Pytest-Allure-Adaptor v.1.7.8 / 2.2.3b1, python 3.6.3.

Screenshot:

![allu2](https://user-images.githubusercontent.com/31251108/31884582-4506e7a8-b7f6-11e7-833a-7

[2017-10-29 14:23] sseliverstov commented on #135
https://github.com/allure-framework/allure-python/issues/171

[2017-10-29 14:23] #135 closed

[2017-10-29 21:50] sseliverstov opened #136 "Multiple flow test xml-report counldn't be generated if one or more tests failed"
[//]: # (
. Note: for support questions, please use Stackoverflow or Gitter**.
. This repository's issues are reserved for feature requests and bug reports.
.
. In case of any problems with Allure Jenkins plugin** please use the following repository
. to create an issue: https://github.com/jenkinsci/allure-plugin/issues
.
. Make sure you have a clear name for your issue. The name should start with

[2017-11-03 22:24] bingbai0324 commented on #136
I have seen the same issue on allure with xdist even all the tests without @pytest.mark.parametrize annotation.

[2018-01-16 11:24] sseliverstov commented on #48
It is possible with v2.

[2018-01-16 11:24] #48 closed

[2018-01-16 11:24] sseliverstov commented on #83
It is possible with v2.

[2018-01-16 11:24] #83 closed

[2018-01-29 17:40] PhilippPeople10 opened #141 "Is it possible to rename test suits and test cases names?"
When I run tests allure-adaptor for pytest generate a XML report:
![image](https://user-images.githubusercontent.com/35545546/35525288-0cd770b6-04f2-11e8-8880-bce1de5a0037.png)

Is it possible to rename value for name?
And how? Are there any decorators for this purpose?

I want to get smt like this:
![image](https://user-images.githubusercontent.com/35545546/35525326-2bfe6bfc-04f2-11e8-80af-760250

[2018-01-29 17:44] sseliverstov commented on #141
Its already implemented for allure2 https://github.com/allure-framework/allure-python

[2018-01-29 17:47] PhilippPeople10 commented on #141
sseliverstov, could you please explain how can I change the values?
I currently use version 2.5.0., but I can not figure out how to do it.

[2018-01-29 17:52] sseliverstov commented on #141
At first you need migrate on new pytest plugin:
1) deinstall pytest-allure-adaptor
2) install allure-pytest

And then you just decorate yours test with @allure.title("another test name")

[2018-01-29 18:35] PhilippPeople10 commented on #141
Thank you, but there is a question:
I am using following decorators structure:
![image](https://user-images.githubusercontent.com/35545546/35527480-d31880c0-04f8-11e8-8317-142147db4630.png)

@allure.title("another test name") related to the test suits? or to the test case?
It seems like related to the test case.
![image](https://user-images.githubusercontent.com/35545546/35527596-44d209e8-04f9-11e

[2018-01-29 19:14] PhilippPeople10 commented on #141
sseliverstov, thank you.
It really helps.

[2018-03-27 18:06] jeevan449 commented on #92
cannot import name 'XFailed'
Getting with 1.7.7 version

[2018-05-09 13:57] sobolewska opened #143 "attach - self.stack[-1] will raise IndexError if stack is empty"
[code]
this self.stack[-1] will raise IndexError if stack is empty (stack=[]).
This can happen if for example suite fails on class setup.

[2018-07-18 20:36] sseliverstov commented on #123
fixed in allure-pytest

[2018-07-18 20:36] #123 closed

[2018-07-18 20:38] sseliverstov commented on #141
will be fixed in 2.x https://github.com/allure-framework/allure-python/issues/46

[2018-07-18 20:38] #141 closed

[2018-07-18 20:40] sseliverstov commented on #68
possibly fixed but 2.x use is preferred

[2018-07-18 20:40] #68 closed

[2018-07-18 20:41] sseliverstov commented on #93
fixed in 2.x

[2018-07-18 20:41] #93 closed

[2018-07-18 20:45] sseliverstov commented on #87
fixed in 2.x

[2018-07-18 20:45] #87 closed

[2018-09-19 04:56] sunyingdong opened #144 "why?How to solve this error？"
无法使用图片上的这个，打开allure的报告后，查看这个报错的代码没有起到作用。想知道什么原因，怎么解决
![1537332790 1](https://user-images.githubusercontent.com/26378836/45731621-1b17b200-bc0b-11e8-86ed-4176df585351.jpg)

[2018-09-21 21:06] xdaisy opened #145 "Not all tests are running on threaded"
I am running my tests threaded with allure-pytest.
Running non-threaded locally, I am able to run all of my tests and they all run fine, but when I am running on Jenkins threaded, not all of the tests are ran. For some tests, they don't even run all the parameters for that test.
Does anyone know what could be causing this issue?

[2018-10-08 17:19] yshovkun-cartera opened #146 "Warnings during generating of allure report - RemovedInPytest4Warning"
I updated my pytest to the latest version and started getting an errors during allure report generation.
However as I can see, you fully support it with the latest version.

Package               Version
--------------------- ---------
allure-pytest         2.5.2
allure-python-commons 2.5.2
atomicwrites          1.2.1
attrs                 18.2.0
certifi               2018.8.24
chardet

[2018-10-16 11:50] michalkrysciak commented on #146
Hello. I see the same warnings with the same pytest and allure versions. And I use macOS High Sierra ver. 10.13.6.
I have a lot of tests and I see ~3500 such warnings O_o

[2018-11-29 01:45] githublitao opened #148 "allure @title"
使用@allure.title("测试") 装饰器时一直提示无title这个属性，当前最新版本是去除了这个属性吗？改成什么了，报告中如图，一堆路径，不好看
![image](https://user-images.githubusercontent.com/27721835/49193796-6e507280-f3bb-11e8-9340-daad33572086.png)

[2018-11-29 01:47] githublitao commented on #148
![image](https://user-images.githubusercontent.com/27721835/49193836-a6f04c00-f3bb-11e8-93bd-ae0ce1e68028.png)

[2018-11-30 15:03] kanakendiran opened #149 "Report generation for xdist run tests on multiple devices"
I am running the same pytest test suite using xdist parallely in multiple devices. The generated allure report does not contain per-device based test results. For example, if same 10 test cases are executed in 2 devices parallely, the generated report displays only 10 tests. I could see that, the test results of all the devices collected in the *-result.json file.  They are not coming in the gener

[2018-12-18 06:35] sseliverstov commented on #149
Can you move issue to https://github.com/allure-framework/allure-python ? It is right repo for 2.x allure plugin

[2018-12-18 06:36] sseliverstov commented on #146
fixed

[2018-12-18 06:36] #146 closed

[2018-12-18 06:37] sseliverstov commented on #41
fixed in 2.x

[2018-12-18 06:37] #41 closed

[2018-12-18 06:37] sseliverstov commented on #39
UTR for 2.x

[2018-12-18 06:37] #39 closed

[2018-12-18 06:38] sseliverstov commented on #60
yep, but with allure-pytest (2.x plugin)

[2018-12-18 06:38] #60 closed

[2019-01-05 15:57] LGY2008 opened #150 "good!"
good!!

[2019-01-09 19:45] alecyeli commented on #103
@SergeyPirogov How did you do the implamentation in Java?

[2019-01-14 13:20] #150 closed, assigned to nobody

[2019-01-14 13:21] sseliverstov commented on #136
UTR in allure-pytest 2.x

[2019-01-14 13:21] #136 closed

[2019-01-14 13:35] baev commented on #144
If the issue still exists please reopen it in https://github.com/allure-framework/allure-python repository. Also only issues in English are allowed

[2019-01-14 13:35] #144 closed